<div class="dialog-overlay" *ngIf="showDialog">
  <div class="dialog">
    <h2>Periods</h2>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Short</th>
          <th>Start</th>
          <th>The End</th>
          <th>Len</th>
          <th>Print</th>
          <th>Bell</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let period of periods">
          <td>{{period.name}}</td>
          <td>{{period.short}}</td>
          <td>{{period.start}}</td>
          <td>{{period.end}}</td>
          <td>{{period.length}}</td>
          <td>{{period.print}}</td>
          <td>{{period.bell}}</td>
          <td>
            <button (click)="edit(period)">Edit</button>
            <button (click)="delete(period.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="dialog-buttons">
      <button (click)="addBreak()">Add break that will be printed between lessons</button>
    </div>
    <div class="dialog-checkboxes">
      <label><input type="checkbox" [(ngModel)]="differentBellTimes"> We have different bell times in different classes</label>
      <label><input type="checkbox" [(ngModel)]="differentBells"> This period has different bells on some days</label>
    </div>
    <div class="dialog-actions">
      <button (click)="close()">OK</button>
    </div>
  </div>
  <app-break *ngIf="showBreakDialog" (closeBreak)="closeBreakDialog()" (saveBreakEvent)="handleBreakSave($event)"></app-break> <!-- Include subdialog component -->
</div>
