<div class="modal-backdrop" (click)="closeDialog()"></div>
<div class="rename-days-dialog">
  <h3>Days</h3>
  <div class="days-list">
    <p>Select the number of days. If you have teaching Monday-Friday, specify 5. If you also have education on Saturday, choose 6. If you have two different days like DayA/DayB, then leave 5 as days number, but create your new "days" using the button combine.</p>
    <div class="form-group">
      <label for="daysCount">Days:</label>
      <select id="daysCount" [formControl]="daysCountControl" (change)="onDaysChange($event)">
        <option *ngFor="let num of [5, 6, 7]" [value]="num">{{ num }}</option>
      </select>
      <button type="button" (click)="showHelp()">Help</button>
    </div>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Short</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let day of daysToShow">
          <td>{{ day.name }}</td>
          <td>{{ day.short }}</td>
          <td>{{ day.description }}</td>
          <td class="actions">
            <button type="button" class="edit" (click)="editDay(day)">Edit</button>
            <button type="button" class="combine" (click)="showCombineDialog()">Combine</button>
            <button type="button" class="delete" (click)="showDeleteDialog(day)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="form-actions">
    <button type="submit" (click)="saveDays()">OK</button>
    <button type="button" (click)="closeDialog()">Cancel</button>
  </div>
</div>

<app-edit-days 
  *ngIf="showEditDaysDialog"
  [show]="showEditDaysDialog"
  (close)="closeEditDaysDialog()"
  (save)="handleSaveEdit($event)">
</app-edit-days>

<app-combine-days
  *ngIf="showCombineDaysDialog"
  (close)="closeCombineDaysDialog()">
</app-combine-days> 

<app-delete-days 
  *ngIf="showDeleteDaysDialog"
  (close)="closeDeleteDaysDialog()">
</app-delete-days>
